<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SampleApp</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-4.0.0-beta.1.css">
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/myscript.js"></script>
  </head>

  <body>
    <ul class="nav">
      <li class="nav-item"><a class="nav-link text-black" href="/">TOP</a></li>
    </ul>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}
    {% endblock %}

    <footer class="footer text-center" height=200>
      <div class="py-5">
        <span class"px-5 py-5">
          <a href="https://d-hacks.kronos.ht.sfc.keio.ac.jp/">
            <img class="" src="static/img/d-hacks-logo.png" width=30>
            <span class="text-dark">d-hacks</span>
          </a>
        </span>
        <span class="px-5 py-5">
          <a href="https://www.ht.sfc.keio.ac.jp/">
            <img class="" src="/static/img/nakazawa-lab-logo.png" width=50>
            <span class="text-dark">中澤研究室</span>
          </a>
        </span>
      </div>
    </footer>
  </body>
</html>
